IProgress
ipywidgets
python-dotenv
tqdm

google-cloud-aiplatform
google-cloud-discoveryengine

langchain-core
langchain-community
langchain-openai 
langchain-qdrant 
langchain-google-community
langchain-google-genai
langchain-google-vertexai

ragas
unstructured


